@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center site_text_color">
    <h1 class="display-4">Welcome to the Online Playlist!</h1>
    <p>A tool for sharing music simultaneously</p>
    <p>
    </p>
    <p>
    </p>
    <table style="width: 100%">
        <tr>
            <td style="text-align: center">
                <h1>Join a room:</h1>
                <div class="container smol_container">
                    <div class="form-group">
                        <label for="room_name">Room Key</label>
                        <input type="text" class="form-control" id="room_name" />
                    </div>
                </div>
            </td>
            <td style="text-align: center">
                <h1>Start a new Room:</h1>
                <div class="container smol_container" style="padding: 20px">

                    <button type="button" class="btn btn-primary btn-lg">Create a new Room</button>
                </div>

            </td>
        </tr>
    </table>

</div>
