<!--
  Author:    Thang Nguyen
  Date:      11/12/2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Thang Nguyen - This work may not be copied for use in Academic Coursework.
  I, Thang Nguyen, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  File Contents
     Home page view
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center site_text_color">
    <h1 class="display-4">Welcome to the Online Playlist!</h1>
    <p>A tool for sharing music simultaneously</p>
    <br />
    <hr />
    <p>
        We recommend you using our service with an account so that you can use all features that we have to offer!
    </p>
    <p>
        <a class="btn btn-primary site_text_color" asp-area="" asp-controller="Room" asp-action="Index">
            Jump into our music room >
        </a>
    </p>

</div>
