@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="site_text_color">
    <div class="text-center">
        <h1>Privacy Policy</h1>
    </div>

    <p>We promise not to sell any of your data to anybody.</p>
    <!---is there a better way to put a space in?-->
    <p></p>
    <p>We reserve the right to update this privacy policy at any time, so maybe check back occasionally to see if anything's changed.</p>
</div>

